<nav>
    <ul>
        <li>
            <div class="capsule"><a href="/">Home</a></div>
        </li>
        <li>
            <div class="capsule"><a href="/profil/14117028">Profil</a></div>
        </li>
        <li>
            <div class="capsule"><a href="/galeri/gallery">Gallery</a></div>
        </li>
    </ul>
</nav>