---
layout: tataletak.njk
nama: M. Anas Nasrulloh
tl: 10 November 1999
almt: Raman Utara, Lampung timur
nim: 14117028
prodi: Teknik Informatika
akt: 2017
kampus: Institut Teknologi Sumatera
---

<h1> Nama Saya adalah {{nama}} </h1>
<h3> Tanggal Lahir {{tl}} </h3>
<h3> Alamat {{almt}} </h3>
<h3> NIM {{nim}} </h3>
<h3> Program Studi {{prodi}} </h3>
<h3> Angkatan {{akt}} </h3>
<h3> {{kampus}} </h3>