<nav>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/profil/14117028">Profil</a>
        </li>
        <li>
            <a href="/galeri/gallery">Gallery</a>
        </li>
    </ul>
</nav>